.cart {
    &__box {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        align-items: flex-start;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        border: 1px solid #0000001A;
        border-radius: 20px;
    }

    &__item {
        display: grid;
        grid-template-columns: 120px 1fr 120px;
        gap: 20px;
        align-items: flex-start;
        padding-bottom: 15px;
        border-bottom: 1px solid #0000001A;
    }

    &__item:last-child {
        border-color: transparent;
    }

    &__img {
        width: 120px;
        height: 120px;
        border: 1px solid #0000001A;
        border-radius: 15px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        text-transform: capitalize;
    }

    &__price {
        font-size: 24px;
        font-weight: 700;
        line-height: 32.4px;
    }

    &__btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        align-items: flex-end;
    }

    &__delete {
        font-size: 20px;
        background: transparent;
        border: none;

        svg {
            color: red;
        }
    }

    &__counter {
        display: flex;
        border: 1px solid #0000001A;
        align-items: center;
        background: #F0F0F0;
        border-radius: 20px;

        button {
            padding: 10px 20px;
            font-size: 18px;
            background: transparent;
            border: none;
        }
    }

    &__forms {
        padding: 20px 15px;
        border: 1px solid #0000001A;
        border-radius: 20px;
    }

    &__orders {
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__order {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__form {
        padding: 15px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        label {
            border-radius: 20px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            gap: 8px;
            background: #F0F0F0;
            height: 40px;

            input {
                display: flex;
                flex: 1;
                outline: none;
                border: none;
                height: 100%;
                background: transparent;
                padding: 10px;

            }
        }

        button {
            padding: 10px 20px;
            font-size: 18px;
            color: white;
            background: black;
            border-radius: 20px;
            border: transparent;
        }
    }

    &__check {
        margin: 15px 0;
        padding: 10px 20px;
        color: white;
        text-align: center;
        background: black;
        border-radius: 20px;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        width: 100%;
        border: transparent;
    }

    @media (max-width:870px) {
        &__box {
            grid-template-columns: 1fr;
        }
    }
}