.admin__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;

    &__btn {
        border: none;
        background: transparent;
    }

    &__humburger {
        font-size: 35px;
        font-weight: bold;
    }



    &__profile {
        padding-right: 20px;
        cursor: pointer;

        svg {
            font-size: 32px;
            color: black;
        }
    }
}