$input-bg-color: white;
$input-text-color: black;
$input-border-color: #00000088;
$input-placeholder-color: rgba(255, 255, 255, 0.5);

.ant-form-item-label>label {
  color: $input-text-color;
}

.ant-input,
.ant-select,
.ant-option,
.ant-input-affix-wrapper,
.ant-upload-list-picture .ant-upload-list-item-name,
.ant-input-number {
  background-color: $input-bg-color;
  color: $input-text-color;
  border: 1px solid $input-border-color;
  max-width: 600px;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:hover,
  &:focus {
    border-color: $input-border-color;
  }
}

.ant-select,
.ant-option {

  &:hover,
  &:focus {
    border-color: $input-border-color;
  }
}

.ant-btn-primary {
  background-color: $input-bg-color;
  border-color: $input-border-color;
  color: $input-text-color;

  &:hover,
  &:focus {
    background-color: $input-bg-color;
    border-color: $input-border-color;
  }
}