.products {
    &__card {
        &__img {
            overflow: hidden;
            height: 290px;
            background: #F0EEED;
            // background: red;
            border-radius: 20px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100% !important;
                object-fit: cover;
                border-radius: 20px;
                transition: .4s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__img:hover {

            .products__card__btns {
                top: 10px;
            }
        }

        &__btns {
            position: absolute;
            top: -100%;
            right: 15px;
            display: flex;
            gap: 15px;
            transition: .4s;

            button {
                border: none;
                background: white;
                border-radius: 50%;
                width: 40px;
                height: 40px;

                svg {
                    font-size: 25px;
                    color: black;
                    // background: white;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px 0;

            h3 {
                display: -webkit-box;
                line-clamp: 1;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 20px;
                font-weight: 700;
                line-height: 27px;
            }
        }

        &__rating {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &__stars {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        &__price {
            font-size: 24px;
            font-weight: 700;
            line-height: 32.4px;
            display: flex;
            align-items: center;
            gap: 16px;

            &-old {
                color: gray;
                text-decoration: line-through;
            }
        }

        &__price__off {
            border: 1px solid red;
            padding: 8px 16px;
            border-radius: 20px;
            font-size: 16px;
            background: rgba(255, 0, 0, 0.432);
        }

    }

    &__btns {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        button {
            border: none;
            background: transparent;

            svg {
                font-size: 28px;
            }
        }

        button:first-child {
            color: red;
        }

        button:last-child {
            color: rgb(72, 228, 72);
        }
    }

    @media (max-width: 950px) {
        &__card {
            &__img {
                img {
                    height: 240px;
                }
            }

            &__content {
                padding: 8px 0;
                gap: 4px;

                h3 {
                    font-size: 18px;
                }
            }

            &__price {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    @media (max-width: 450px) {
        &__card {
            &__img {
                img {
                    height: 210px;
                }
            }

            &__content {
                h3 {
                    font-size: 16px;
                }
            }

            &__price {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
}