.manageProduct {
    padding: 30px;
    background-color: #f4f4f4;

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}



// Enhancing the modal form styling
.createProduct {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__input {
        label {
            padding-bottom: 2px;
        }

        input,
        select,
        option {
            width: 100%;
            border: 1px solid #ddd;
            padding: 2px 8px;
            border-radius: 5px;
            outline: none;
        }

        textarea {
            width: 100%;
            border: 1px solid #ddd;
            padding: 2px 8px;
            border-radius: 5px;
            outline: none;
            resize: none;
            height: 80px;
        }
    }
}